@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* navbar start */

nav {
  background-color: #463def;
  color: white;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 4px;
}

nav li {
  list-style-type: none;
  padding: 5px;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: bolder;
}


/* toggle dark mode start  */
.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.content > i {
  font-size: 44px;
  transition: all 0.2s ease-in;
}
/* custom checkbox*/
.switch {
  position: relative;
  display: block;
  height: 20px;
  width: 44px;
  background: #747070;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.switch:after {
  position: absolute;
  left: -2px;
  top: -3px;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 100px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
  content: "";
  transition: all 0.3s ease;
}
.switch:active:after {
  transform: scale(1.15, 0.85);
}
.cbx:checked ~ label {
  background: #f0be09;
}
.cbx:checked ~ label:after {
  left: 20px;
  background: #ffffff;
}
.cbx:disabled ~ label {
  background: #d5d5d5;
  pointer-events: none;
}
.cbx:disabled ~ label:after {
  background: #bcbdbc;
}
.hidden {
  display: none;
}

/* toggle dark mode end  */

/* navbar end */

 /* stats start  */

 .stats{

  padding:  5px;
  font-size: 1.2rem;
  font-family: "Baloo Bhaina 2", cursive;
  display: flex;
  justify-content: left;
  align-items: center;
  color: black;
  font-weight: 500;
 }

 /* stats end */

/* main container start */

.container {
  display: flex;
  text-align: center;
  font-family: sans-serif;
  justify-content: center;
  margin: 30px;
  margin-top: 40px;
}
/* game container start  */
.game-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 20vh);
  grid-template-rows: repeat(2, 20vh);
}



.box {
  border: 5px solid black;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5858fc;
  font-family: "Orbitron", Verdana, sans-serif;
  font-size: 2.2em;
  background: none;
}

/* game container end  */

/* info container start */

.info-container {
  margin: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.info {
  margin: 10px;
  font-family: sans-serif;
}

.welcome {
  font-family: "Baloo Bhaina 2", cursive;
  font-size: 1.5rem;
  text-transform: capitalize;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #5e5df0;
  }
}

.info {
  font-family: sans-serif;
  font-size: 2rem;
  
}




.reset {
    margin: 5px 10px ;
  background: #5e5df0;
  border-radius: 999px;
  box-shadow: #5e5df0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  
  

}


.imgbox img{
    
    position: absolute;
    top:41%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 0px;
    transition: width 1s ease-in-out;;
    
}

/* info end  */

/* footer start  */
.footer-title{
    position: absolute;
    bottom: 10px;
    left:50%;
    transform: translate(-50%, -1%);
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 100;
    width: 70vw;
    text-align: center;
   
}

/* footer end  */

#level-title{
  display: none;
}

/* media queries start  */

@media screen and (max-width: 950px)
{
    .container{
        flex-wrap: wrap;
    }
    .welcome{
        margin-top: 34px;
        font-size: 12px;
    }
    .information{
        text-align: center;
    }
    #level-title{
      display: block;
    }
    .info{
        font-size: 2rem;
    }
    .game-container { 
        grid-template-rows: repeat(2, 35vw);
        grid-template-columns: repeat(2, 35vw);
    }
    .reset{
        display: block;
        margin: 30px 50px;
    }
}

/* media queries end */



/* night mode  */

.night {
    background-color: #000000f3;
    color: rgb(253, 210, 15);
    
  }
  .night-title{
    color: rgb(253, 210, 15);
    text-shadow: 1px 1px rgba(245, 202, 8, 0.177);
    
  }
  .night-nav{
    background-color: rgb(253, 210, 15);
    color: #000000;
  }

  
  
  .night-border{
      border: 3px solid rgb(255, 255, 255) ;
      text-shadow: rgb(253, 210, 15) 0 10px 20px -10px
  }
 
  

  /* night mode end  */


  /* utility classes start  */

  .bl-0 {
    border-left: 0;
  }
  .br-0 {
    border-right: 0;
  }
  .bt-0 {
    border-top: 0;
  }
  .bb-0 {
    border-bottom: 0;
  }


  /* new */

  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  
  .red {
    background-color: red;
    margin: 0 5px 5px 0;
    
  }
  
  .green {
    background-color: green;
    margin: 0 0 5px 5px;
  }
  
  .blue {
    background-color: blue;
    margin: 5px 5px 0 0;
  }
  
  .yellow {
    background-color: yellow;
    margin: 5px 0 0 5px;
  }

 
  
  .pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }